.cell {
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-background-color: ghostwhite;
}

.cell:hover {
    -fx-background-color: gainsboro;
}

.menuButton {
    -fx-background-color: ghostwhite;
    -fx-border-color: lightgrey;
    -fx-border-radius: 10;
    -fx-text-fill:rgb(255, 92, 92);
}


.playerNameField{
    -fx-text-fill: rgb(255, 92, 92);
    -fx-background-color: lightgrey;
}